html {
  font-size: 15px;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #2b2a2c;
  overflow-x: hidden;
}
body.no-scroll {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0 0 1rem;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* Vendor */
/* Slider */
.slick-slider {
  height: 100%;
  display: block;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 1.4rem;
  left: 0;
  z-index: 2;
}
.slick-dots li {
  margin: 0 0.5rem;
}
.slick-dots li.slick-active button {
  background-color: #fff;
}
.slick-dots button {
  width: 11px;
  height: 11px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
  color: transparent;
}
.slick-dots button:focus {
  outline: 0;
}
/* Blocks */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
.header {
  padding: 1.2rem 0;
  position: relative;
}
@media (max-width: 767px) {
  .header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
}
.user__avatar {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  overflow: hidden;
}
.user__avatar img {
  width: 100%;
}
.user__content {
  padding-left: 9px;
}
.user__name {
  margin-bottom: 3px;
  font-size: 1.06rem;
  line-height: 1.2;
  color: #2b2a2c;
  font-weight: 700;
}
.user_profession {
  font-size: 0.8rem;
  color: rgba(43, 42, 44, 0.7);
}
.nav {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}
@media (max-width: 767px) {
  .nav {
    display: none;
    top: 100%;
    right: 0;
    z-index: 1000;
    width: 100%;
    position: absolute;
    background: #fff;
    height: auto;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  .nav.show {
    display: flex;
  }
}
.nav__link {
  font-size: 0.93rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #2b2a2c;
  position: relative;
  margin-left: 2rem;
  /* Modificators */
}
.nav__link:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #2b2a2c;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 1;
  transition: width 0.3s linear;
}
.nav__link:hover:not(.nav__link_btn):after {
  width: 100%;
}
.nav__link_btn {
  padding: 0.66rem 2rem;
  border: solid 2px #2b2a2c;
  border-radius: 20px;
  transition: background-color 0.3s linear, color 0.3s linear;
}
.nav__link_btn:hover {
  background-color: #2b2a2c;
  color: #fff;
}
@media (max-width: 767px) {
  .nav__link {
    width: 100%;
    margin-left: 0;
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 767px) {
  .intro {
    margin-top: 100px;
  }
}
.intro__inner {
  display: flex;
  border-bottom: 1px solid rgba(106, 105, 107, 0.3);
  position: relative;
  padding-top: 6.6rem;
  padding-bottom: 8rem;
  background: url("../images/symbols.png") right bottom no-repeat;
  animation: appearance 1s linear;
}
@media (max-width: 991px) {
  .intro__inner {
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-size: 400px auto;
  }
}
@media (max-width: 767px) {
  .intro__inner {
    background-size: 300px auto;
  }
}
@media (max-width: 565px) {
  .intro__inner {
    background: none;
  }
}
.intro__content {
  width: 50%;
}
@media (max-width: 767px) {
  .intro__content {
    width: 60%;
  }
}
@media (max-width: 565px) {
  .intro__content {
    width: 100%;
  }
}
.intro__subtitle {
  font-size: 2.13rem;
  color: #2b2a2c;
  font-weight: 200;
  animation: left-appearance 1s linear;
}
@media (max-width: 991px) {
  .intro__subtitle {
    font-size: 1.5rem;
  }
}
.intro__title {
  font-size: 3rem;
  color: #2b2a2c;
  font-weight: 700;
  margin-bottom: 5px;
  animation: left-appearance 1s linear;
}
@media (max-width: 991px) {
  .intro__title {
    font-size: 2rem;
  }
}
.intro__text {
  font-size: 1.2rem;
  color: rgba(43, 42, 44, 0.7);
  margin-bottom: 25px;
  animation: left-appearance 1s linear;
}
.intro__photo {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  height: 32rem;
  animation: right-appearance 1s linear;
}
@media (max-width: 991px) {
  .intro__photo {
    height: 25rem;
  }
}
@media (max-width: 767px) {
  .intro__photo {
    height: 22rem;
  }
}
@media (max-width: 565px) {
  .intro__photo {
    display: none;
  }
}
@keyframes left-appearance {
  0% {
    margin-left: -50rem;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes right-appearance {
  0% {
    margin-right: -50rem;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.social {
  display: flex;
  margin-bottom: 42px;
  animation: left-appearance 1s linear 0.2s;
}
.social__link {
  text-decoration: none;
  margin-right: 10px;
  transition: transform 0.2s linear;
}
.social__link:hover {
  transform: translateY(-5px);
}
.social__link div {
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__telegram {
  background-color: #27a1e0;
}
.social__vk {
  background-color: #5181B8;
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 1.05em 1.7em;
  min-width: 170px;
  border: 2px #2b2a2c solid;
  border-radius: 1.8em;
  background: none;
  cursor: pointer;
  color: #2b2a2c;
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.06rem;
  line-height: 1.1;
  text-align: center;
  transition: background-color 0.3s linear, color 0.3s linear, box-shadow 0.3s linear, border-color 0.3s linear;
  animation: left-appearance 1s linear 0.4s;
  /* Modifacotors */
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: #2b2a2c;
  color: #fff;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.25);
  border-color: #2b2a2c;
}
.btn + .btn {
  margin-left: 1rem;
}
.btn_hire {
  background-color: #2b2a2c;
  color: #fff;
}
.btn--sm {
  padding: 0.7em 1.1em;
  font-size: 0.94rem;
  border-width: 2px;
  font-weight: 700;
  min-width: 0;
}
.btn--thin {
  min-width: 145px;
  font-size: 0.8rem;
}
@media (max-width: 991px) {
  .btn {
    font-size: 1rem;
    padding: 1em 1.5em;
    min-width: 140px;
  }
}
@media (max-width: 565px) {
  .btn {
    display: block;
    width: 100%;
  }
  .btn + .btn {
    margin-left: 0;
    margin-top: 1rem;
  }
}
.works {
  margin: 2.8rem 0;
}
.works__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}
.works__nav-link {
  font-size: 0.8rem;
  text-decoration: none;
  margin: 0 1.2rem;
  color: rgba(43, 42, 44, 0.7);
  position: relative;
  transition: color 0.2s linear;
}
.works__nav-link:after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #2b2a2c;
  position: absolute;
  bottom: -2px;
  left: -10%;
  z-index: 1;
  transition: width 0.3s linear;
}
.works__nav-link_active {
  color: #2b2a2c;
}
.works__nav-link_active:after {
  width: 120%;
}
.works__nav-link:hover {
  color: #2b2a2c;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem 2.8rem;
}
.portfolio-col {
  flex-basis: 33.3333%;
  padding: 1rem;
  overflow: hidden;
  transition: flex-basis 1s linear, padding 1s linear;
}
@media (max-width: 767px) {
  .portfolio-col {
    flex-basis: 50%;
  }
}
@media (max-width: 565px) {
  .portfolio-col {
    flex-basis: 100%;
  }
}
.unselected-portfolio {
  flex-basis: 0%;
  padding: 0;
  transition: flex-basis 1s linear, padding 1s linear;
}
.work {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s linear;
}
.work:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767px) {
  .work {
    max-width: 370px;
  }
}
@media (max-width: 565px) {
  .work {
    margin: 0 auto;
  }
}
.work__image {
  display: block;
  max-width: 100%;
  height: 20rem;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.work__image_new-manycam {
  background-image: url(../../images/portfolio/manycam-beta.png);
  background-position: 0 -78px;
}
.work__image_manycam {
  background-image: url(../../images/portfolio/manycam.png);
  background-position: 0 -23px;
}
.work__image_tomsksoft {
  background-image: url(../../images/portfolio/tomsksoft.png);
  background-position: 0 0;
}
.work__image_print163 {
  background-image: url(../../images/portfolio/print163.png);
  background-position: 0 -20px;
}
.work__image_lime {
  background-image: url(../../images/portfolio/lime.png);
  background-position: 0 0;
}
.work__image_AI {
  background-image: url(../../images/portfolio/AI.png);
  background-position: 0 0;
}
.work__content {
  padding: 1rem 0.8rem;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
.work__cat {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #2b2a2c;
  margin-bottom: 0.5rem;
}
.work__title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: #2b2a2c;
  font-size: 1.06rem;
  font-weight: 700;
}
.about {
  margin: 15rem 0;
  margin-bottom: 8rem;
}
@media (max-width: 991px) {
  .about {
    margin: 4rem 0;
  }
}
.about__inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 1090px;
}
.about__photo,
.about__content {
  width: 50%;
}
@media (max-width: 991px) {
  .about__photo,
  .about__content {
    width: 100%;
  }
}
.about__photo {
  position: relative;
}
.about__photo img {
  display: block;
  max-width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
@media (max-width: 991px) {
  .about__photo img {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .about__photo img {
    max-width: 80%;
  }
}
.about__photo:before {
  content: " ";
  height: 413px;
  width: 413px;
  background-color: #EFEFEF;
  position: absolute;
  left: 1rem;
  bottom: 0;
  z-index: 1;
}
@media (max-width: 991px) {
  .about__photo {
    order: 2;
  }
  .about__photo:before {
    width: 100%;
    height: 300px;
    left: 0;
  }
}
.about__content {
  padding-left: 3.2rem;
  margin-top: 2rem;
}
@media (max-width: 991px) {
  .about__content {
    order: 1;
    padding-left: 0;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
.about__title {
  font-size: 3rem;
  color: #2b2a2c;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .about__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 767px) {
  .about__title {
    font-size: 2rem;
  }
}
.about__bigtitle {
  font-size: 6.1rem;
  line-height: 1.1;
  position: relative;
  left: -1rem;
  color: rgba(43, 42, 44, 0.15);
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .about__bigtitle {
    font-size: 4rem;
  }
}
@media (max-width: 991px) {
  .about__bigtitle {
    position: static;
  }
}
@media (max-width: 767px) {
  .about__bigtitle {
    font-size: 3rem;
  }
}
.about__text {
  font-size: 0.8rem;
  margin-bottom: 2.8rem;
  line-height: 2;
  color: #6a696b;
  font-weight: 300;
}
.footer {
  padding: 1rem 0;
  background-color: #2b2a2c;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__credits {
  display: flex;
  align-items: center;
}
.footer__copyright {
  padding-right: 0.8rem;
  margin-right: 1rem;
  font-size: 0.94rem;
  color: #fff;
  border-right: 1px solid rgba(106, 105, 107, 0.35);
}
.footer__social {
  display: flex;
  align-items: center;
}
.footer__social-link {
  width: 3rem;
  height: 3rem;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 1.2rem;
  text-decoration: none;
  text-align: center;
  line-height: 4rem;
}
.footer__nav {
  display: flex;
  align-items: center;
  font-size: 0.94rem;
}
.footer__nav-link {
  margin-left: 1.5rem;
  color: #fff;
  text-decoration: none;
}
.footer__nav-link:hover {
  text-decoration: underline;
}
.footer__nav-link--btn {
  padding: 0.5rem 1.4rem;
  border-radius: 20px;
  border: 1px solid #fff;
  line-height: 1.1;
  transition: 0.3s linear;
}
.footer__nav-link--btn:hover {
  text-decoration: none;
  background-color: #fff;
  border-color: #fff;
  color: #2b2a2c;
}
.modal {
  overflow: auto;
  display: none;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 15, 49, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.modal.show {
  display: flex;
}
.modal__dialog {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  transform: rotateX(90deg);
  transition: transform 0.2s linear;
}
.modal__dialog--sm {
  max-width: 900px;
}
.modal__close {
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 0.9rem;
  top: 0.9rem;
  z-index: 1;
  transition: transform 0.2s linear;
}
.modal__close:hover {
  transform: translateY(-3px);
}
.modal__content {
  padding: 5rem 1rem;
}
.modal__title {
  margin-bottom: 3.6rem;
  font-size: 3rem;
  text-transform: uppercase;
  color: #2b2a2c;
  font-weight: 700;
}
.modal__subtitle {
  text-transform: uppercase;
  font-size: 1.06rem;
  color: #2b2a2c;
  font-weight: 400;
}
.modal-work {
  display: flex;
}
.modal-work__preview {
  width: 65%;
  position: relative;
  overflow: hidden;
}
.modal-work__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}
.modal-work__content {
  width: 35%;
  padding: 3.4rem 6.6rem 1rem 1.73rem;
  position: relative;
}
.modal-work__header {
  margin-bottom: 2.2rem;
}
.modal-work__title {
  margin-bottom: 0.2rem;
  font-size: 2.12rem;
  color: #2b2a2c;
  font-weight: 700;
  text-transform: uppercase;
}
.modal-work__info {
  font-size: 1.2rem;
  color: #6a696b;
  text-transform: uppercase;
}
.modal-work__info span {
  margin: 0 1rem;
}
.modal-work__client {
  margin-bottom: 2.2rem;
}
.modal-work__client-title {
  margin-bottom: 0.2rem;
  font-size: 1.06rem;
  color: #2b2a2c;
  font-weight: 700;
}
.modal-work__client-company {
  font-size: 0.94rem;
  color: #6a696b;
  font-style: italic;
}
.modal-work__text {
  margin-bottom: 8.66rem;
  font-size: 0.8rem;
  color: #6a696b;
  line-height: 2;
  font-weight: 300;
}
.modal-work__footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 0 1.8rem 1rem;
  width: 100%;
}
.modal-work__btn {
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;
  font-size: 0.94rem;
  font-family: inherit;
  color: #2b2a2c;
  text-transform: uppercase;
}
.timeline {
  display: flex;
  margin: 4.2rem auto;
  width: 100%;
  max-width: 768px;
  position: relative;
}
.timeline:before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #2b2a2c;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
}
.timeline__col {
  width: 50%;
}
.timeline__col--left {
  text-align: right;
  padding-right: 3.2rem;
}
.timeline__col--rigth {
  padding-left: 3.2rem;
}
.timeline__title {
  margin-bottom: 2.6rem;
  font-size: 1.2rem;
  color: #2b2a2c;
  text-transform: uppercase;
  font-weight: 700;
}
.timeline__item {
  margin-bottom: 2.6rem;
}
.timeline__item:last-child {
  margin-bottom: 0;
}
.timeline__date {
  display: block;
  margin-bottom: 0.8rem;
  text-decoration: underline;
  font-size: 0.94rem;
  color: #2b2a2c;
}
.timeline__subtitle {
  margin-bottom: 0.2rem;
  font-size: 1.06rem;
  color: #2b2a2c;
  font-weight: 700;
}
.timeline__position {
  font-size: 0.94rem;
  color: #2b2a2c;
  font-style: italic;
}
.timeline__text {
  margin-top: 0.8rem;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #6a696b;
  font-weight: 300;
}
.progress-bar {
  margin-bottom: 2.6rem;
}
.progress-bar__item {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}
.progress-bar__title {
  font-size: 0.94rem;
  font-weight: 300;
}
.progress-bar__right {
  padding-left: 1.2rem;
}
.progress-bar__bar {
  width: 139px;
  height: 6px;
  background-color: #EFEFEF;
}
.progress-bar__progress {
  height: 100%;
  background-color: #6a696b;
  transition: width 0.2s linear;
}
.contact {
  display: flex;
}
.contact__left {
  width: 47%;
  padding: 2rem;
}
.contact__right {
  width: 53%;
  background: #2b2a2c url(https://placehold.co/480x700) no-repeat center;
}
.contact__info {
  margin: 2rem 0 3rem;
  padding: 0;
  list-style: none;
  font-size: 0.94rem;
  color: #2b2a2c;
  font-weight: 300;
}
.contact__info-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}
.contact__info-item:last-child {
  margin-bottom: 0;
}
.contact__info-icon {
  width: 20px;
  margin-right: 0.75rem;
}
.form__group {
  margin-bottom: 1.8rem;
}
.form__label {
  display: inline-block;
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
  color: #2b2a2c;
  font-weight: 700;
}
.form__input,
.form__textarea {
  display: block;
  width: 100%;
  padding: 1.3rem 1.8rem;
  border: 1px solid rgba(112, 112, 112, 0.3);
  border-radius: 1.8rem;
  font-family: inherit;
  font-size: 0.8rem;
  line-height: 1.2;
  font-weight: 300;
  color: #2b2a2c;
}
.form__input:focus,
.form__textarea:focus {
  outline: none;
  border-color: #36abc7;
}
.form__input::placeholder,
.form__textarea::placeholder {
  color: #2b2a2c;
}
.form__textarea {
  height: 200px;
  resize: none;
}
.burger {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  background: none;
  display: none;
}
@media (max-width: 767px) {
  .burger {
    display: block;
  }
}
.burger__icon {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Helpers */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.mb-0 {
  margin-bottom: 0;
}
.hide {
  display: none;
}
